@model Product
@{
	ViewData["Title"] = "Create new Product";
}

<h2>Create new Product</h2>

<form method="post">
	<div>
		<label asp-for="Title" class="form-label"></label>
		<input asp-for="Title" class="form-control" />
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="Price" class="form-label"></label>
		<input asp-for="Price" class="form-control" />
		<span asp-validation-for="Price" class="text-danger"></span>
	</div>
	<input type="submit" value="Create" class="btn btn-primary" />
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
}