@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="fs-1 fw-normal">Welcome</h1>
</div>

<div class="alert alert-info" role="alert">
    This website is currently under construction.
</div>