@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="fs-1 fw-normal">Welcome</h1>
</div>

<div class="alert alert-info" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
</div>